body{
    background: #eee !important;
    background-color: #eee !important;
     color: #5e5e5e;
}
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
   color: #5e5e5e;
}
.search-box {
    border: 1px solid #5e5e5e;
    float: left;
    margin-right: 28px;
    width: 66%;
}
#map {
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    height: 600px;
    position: relative;
    width: 100%;
}
.warningDiv {
    width: 66%;
 }
 .store-container {
    padding-left: 30px;
    padding-right: 30px;     
 }
 .store-list {
    background-color: transparent;
    color: #5e5e5e;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
    display: block;
    margin: 0 20px 15px 0;
    overflow: hidden;
    padding: 8px;
    width: 100%;
}
 .store-list h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
  font-size: 30px;
  color: #2770f9;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.store-list p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.store-list .crop {
  width: 150px;
  height: 135px;
  overflow: hidden;
  float: left;
  margin-right: 5px;
  background: white;
  text-align: center;
  border: 1px solid #ccccd2;
}
.store-list .crop img {
  width: auto;
  height: 135px;
}
.sectionDiv {
    background-color: #f8f8f8;
    border: 1px solid #5e5e5e;
    border-radius: 4px;
}
.store-section {
    color: #5e5e5e;
    background-color: transparent;
    padding: 20px; 
}
.errorTxt {
  color: red;
  font-size: 12px;
}